body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container{
    max-width: 70vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.6);
    margin-left: 1rem;
    border-bottom: 0.2rem solid transparent;
    
}
.nav-link:hover{
    color: rgba(255,255,255,1);
    border-bottom-color:rgba(255,255,255,0.3);

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    font-weight: 700;
    text-shadow: none;
}

.nav-link.active{
    color:aliceblue;
    border-bottom-color: rgba(255,255,255,0.7);
}