<% layout('layouts/boilerplate') %> 

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row login-form">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNhbXBpbmd8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=1267&q=60"
                alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                        <form action="/login" method="post" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            <div class="mb-3 d-grid">
                                <button class="btn btn-success">Login</button>   
                            </div>
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>


